.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #FFFCA8, pink);
    border-radius: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.menu__search {
    margin-left: 10px;
    margin-top: 10px;
    max-width: 800px ;
    width: 100%;
}

.form-control {
    border-radius: 10px;
}

.menu-image {
    width: 35px;
    margin-right: 10px;
}


.menu__options {
    margin-top: 10px;
    max-width: 800px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.option-image-block {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.option-image {
    width: 40px;
}

.menu__listing {
    width: 100%;
    overflow: hidden;
    max-height: 400px;
    overflow-y: scroll;
}

.menu__listing .container {
    padding-top: 20px;
}

.menu__listing .product {
    background-color: white;
}

.item-card {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.item-image {
    width: 100%;
    border-radius: 5px;
}

.item-info {
    padding-top: 5px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 106px;
}

.item-name {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 50px;
    width: 137px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.item-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.item-footer p {
    margin: 0;
}

.item-button {
    width: 32px;
    height: 32px;
    background-color: #fa8c16;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item-butotn-image {
    width: 16px;
    height: 16px;
}